<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.animeDB.common.vo.MemberVO" alias="MemberVO" />
        <typeAlias type="com.animeDB.common.vo.MemberAttachmentVO" alias="MemberAttachmentVO" />
        <typeAlias type="com.animeDB.common.vo.CommunityKindVO" alias="CommunityKindVO" />
        <typeAlias type="com.animeDB.common.vo.CommunityListVO" alias="CommunityListVO" />
        <typeAlias type="com.animeDB.common.vo.CommunityPostVO" alias="CommunityPostVO" />
        <typeAlias type="com.animeDB.common.vo.CommunityCommentVO" alias="CommunityCommentVO" />
    </typeAliases>
</configuration>